SECRET_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
CORS_ORIGINS=http://localhost:8501
DATABASE_URL=sqlite:///./portfolio.db
OPENAI_API_KEY=your-openai-key
NEWS_API_KEY=your-newsapi-key
GEMINI_API_KEY=your-gemini-key
GROQ_API_KEY=your-groq-key
